# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build output
dist
dist-ssr
.vite

# System files
.DS_Store
Thumbs.db

# Editor settings
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env & secrets
.env
.env.*.local

# Coverage
coverage

# Parcel cache
.parcel-cache
